---
import MainLayout from "../layouts/MainLayout.astro";

const title = "Pokemon Static | Home";
const headline = "Welcome to the Pokemon Static Site";
---

<MainLayout title={title}>
	<h1 class="text-3xl">{headline}</h1>
</MainLayout>
