---
import MainLayout from "../layouts/MainLayout.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list.response";
import PokemonCard from "../components/pokemons/PokemonCard.astro";
const title = "Pokemon Static | Home";
const headline = "Pokemon List";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = await resp.json() as PokemonListResponse;
const pokemon = data.results;
console.log('~data:', data);
---

<MainLayout title={title}>
	<h1 class="text-3xl mb-4">{headline}</h1>
	<section class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4" aria-label="Pokemon List">
		{data.results.map(({name, url}) => (
			<PokemonCard 
				name={name} 
				url={url} 
			/>
		))}
	</section>
</MainLayout>
